/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
/*header */
body {
  line-height: 1.6;
  font-size: 18px;
  color: #000000;
  background-color: #d3d3d3;
}
header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-family: roboto;
}
nav ul li a:hover {
  text-decoration: underline;
  color: #f21818;
}
/* Section styling */
section {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: auto;
  background: #fff;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* Home section image styling */
#home img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
  justify-content: center;
}

/* Education and experience styling */
.education,
.experience {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.timeline-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.timeline-text {
  margin-bottom: 0.5rem;
}

/* Projects section styling */
.service-item {
  margin-bottom: 2rem;
}

.service-item-inner {
  background: #eaeaea;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.service-item-inner .icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.service-item-inner h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.service-item-inner p {
  font-size: 1rem;
}

/* Contact form styling */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.75rem;
}

form input[type="submit"]:hover {
  background: #555;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}
